rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document=**} {
      allow read;
      allow write;
      allow create;
      allow update;
      allow get;
    }
  }
}